#!/usr/bin/env bash

NWNUM=$1
MEMORY=$2

cat << EOM
# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  config.vm.box = "{{vagrant_base_box}}"

  config.vm.provider :libvirt do |libvirt|
    libvirt.memory = $MEMORY
EOM

echo "    libvirt.management_network_name = \"vagrant-nested-$NWNUM\""
echo "    libvirt.management_network_address = \"192.168.${NWNUM}.0/24\""

cat << EOM
  end

end
EOM
